<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<!--[if IE]>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<![endif]-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	<!-- Favicons Icon -->
	<title>Personal Account</title>
	<!-- Mobile Specific -->
	<!DOCTYPE html>
	<html lang="en">
	<head>
		<meta charset="utf-8">
		<!--[if IE]>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<![endif]-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">
		<!-- Favicons Icon -->
		<title>Personal Account</title>
		<!-- Mobile Specific -->
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta name="description" content="">
		<meta name="keywords" content="">
		<!-- CSS Style -->
		<link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="~/Content/font-awesome.css" media="all">
		<link rel="stylesheet" type="text/css" href="~/Content/style.css" media="all">
		<link rel="stylesheet" href="~/Content/syx-ms-style.min.css" />
		<link rel="stylesheet" href="~/Content/syx-personal_member.min.css" />
		<link rel="stylesheet" href="~/Content/syx-sui.css" />
		<script type="text/javascript" src="~/Scripts/address_all.js"></script>
		<script type="text/javascript" src="~/Scripts/jquery-1.9.1.min.js"></script>
		<script type="text/javascript" src="~/Scripts/sui.js"></script>
		<link rel="stylesheet" type="text/css" href="~/Content/checkOut.css" />
		<link rel="stylesheet" type="text/css" href="~/Content/account_table.css" />
		<link rel="stylesheet" type="text/css" href="~/Content/syx-seller_account.css" />
		<link rel="stylesheet" type="text/css" href="~/Content/search_form.css" />
		<link rel="stylesheet" type="text/css" href="~/Content/font-awesome.min.css" />
	</head>

	<body>
		<script>
			$(document).ready(function () {
				$("#bank").click(function () {
					$.get("/Personalinfo/AddCard?id=@ViewBag.id"+"&cardid="+$("#cardid").val(), function (data) {
						if (data == "success") { 
							alert("Success!");
							location.reload();
						}
						else
							alert("Please check your card number");
					});
				});
                let browsingLength = 3;
                console.log("@ViewBag.BrowserTime".split('*').length - 1);
                if (("@ViewBag.BrowserTime".split('*').length - 1) < 3) {
                    browsingLength = "@ViewBag.BrowserTime".split('*').length - 1;
                }
                console.log("@ViewBag.BrowserTime");
                for (let i = 0; i < browsingLength; ++i) {
                    document.querySelector('#browserItem' + i).appendChild(document.createTextNode("@ViewBag.BrowserItem".split('*')[i]));
                    document.querySelector('#browserTime' + i).appendChild(document.createTextNode("@ViewBag.BrowserTime".split('*')[i]));
                }


                console.log("Neew" + "@ViewBag.BrowserTime");
                //$.get('GetHistory?id=test', function (data) {
                  //  console.log(data);
                //})

                document.querySelector('#logout').addEventListener('click', function () {
                $.get('DeletePerson?id=' + "@ViewBag.id", function (data) {
                    //console.log('Hello');
                    console.log(data);
                    window.location.href = '/Login';
                    //window.setAttribute('url', '/Login');
                })

            })
				var ID = "@ViewBag.id";
				
				

			$("#2").click(function () {
                var id = $("#1").val();
                $.get("/Personalinfo/ExistOrder?id=" + ID + "&orderid=" + id, function (data) {
                    if (data == "success")
                        $(window).attr("location", "/Personalinfo/SearchOrder?id=" + ID + "&orderid=" + id);
                    else
                        alert("Orderid not exist");
                });
				});

				
            var orderSelected = "";
            var bankCardSelected = "";
            var globalID = "";
            console.log("@ViewBag.card");

            let tbody = document.querySelector('#orderTable');
            let bankTBody = document.querySelector('#tbodyBankCard');


            for (let i = 0; i < "@ViewBag.card".split('*').length - 1; ++i) {
                bankTBody.insertRow(i);
                bankTBody.rows[i].insertCell(0);
                bankTBody.rows[i].cells[0].appendChild(document.createTextNode("@ViewBag.card".split('*')[i]));
                bankTBody.rows[i].cells[0].id = '*' + i;
                let complex = bankTBody.rows[i].insertCell(1);

                let editButton = document.createElement('button');
                complex.appendChild(editButton);
                editButton.appendChild(document.createTextNode('Edit'));
                editButton.style.backgroundColor = '#42a4e0';
                editButton.style.borderRadius = '5px';
                editButton.style.color = '#fff';
                editButton.style.fontSize = '14px';
                editButton.style.border = '0px';
                editButton.style.width = '107px';
                editButton.style.height = '26px';

                editButton.addEventListener('click', function () {
                    document.getElementById('editCard_1').style.display = 'block';
                    document.getElementById('fade_1').style.display = 'block';
                    bankCardSelected = "@ViewBag.card".split('*')[i];
                    console.log(bankCardSelected);
                    globalID = '*' + i;
                })

                let deleteButton = document.createElement('button');
                complex.appendChild(deleteButton);
                deleteButton.appendChild(document.createTextNode('Delete'));
                deleteButton.style.borderRadius = "5px";
                deleteButton.style.color = "#fff";
                deleteButton.style.fontSize = "14px";
                deleteButton.style.border = "0px";
                deleteButton.style.width = "107px";
                deleteButton.style.height = "26px";
                deleteButton.style.backgroundColor = "red";
                deleteButton.style.margin = "10px";
                deleteButton.addEventListener('click', function () {
                    bankCardSelected = "@ViewBag.card".split('*')[i];
                    bankTBody.deleteRow(i);
                    $.get('DeleteCard?del=' + bankCardSelected, function (data) {
                        console.log(data);
                    })
				})
				
				



            }

            for (let i = 0; i < "@ViewBag.Time".split('*').length - 1; ++i) {
                tbody.insertRow(i);
                tbody.rows[i].insertCell(0);
                tbody.rows[i].cells[0].appendChild(document.createTextNode("@ViewBag.OrderID".split('*')[i]));
                tbody.rows[i].insertCell(1);
                tbody.rows[i].cells[1].appendChild(document.createTextNode("@ViewBag.Time".split('*')[i]));
                tbody.rows[i].insertCell(2);
                tbody.rows[i].cells[2].appendChild(document.createTextNode("@ViewBag.ShopID".split('*')[i]));





                let complex = tbody.rows[i].insertCell(3);


                let returnInput = document.createElement('input');
                complex.appendChild(returnInput);
                returnInput.setAttribute('type', 'button');
                returnInput.setAttribute('value', 'Cancel');
                returnInput.setAttribute('class', 'button_blue');

                returnInput.addEventListener('click', function () {
                    $.get('CancelOrder?orderID=' + "@ViewBag.OrderID".split('*')[i], function (data) {
                        console.log(data);
                    })
                })

                let commentInput = document.createElement('input');
                complex.appendChild(commentInput);
                commentInput.setAttribute('type', 'button');
                commentInput.setAttribute('value', 'Comment');
                commentInput.setAttribute('class', 'button_blue');
                commentInput.setAttribute('style', 'margin:5px');

                commentInput.addEventListener('click', function () {
                    document.getElementById('comment_1').style.display = 'block';
                    document.getElementById('fade_4').style.display = 'block';
                    orderSelected = "@ViewBag.OrderID".split('*')[i];
                })
				
            let checkInput = document.createElement('input');
                complex.appendChild(checkInput);
                checkInput.setAttribute('type', 'button');
                checkInput.setAttribute('value', 'Confirm');
                checkInput.setAttribute('class', 'button_blue');
                checkInput.addEventListener('click', function () {
                    $.get('ConfirmReceipt?orderID=' + "@ViewBag.OrderID".split('*')[i], function (data) {
                        console.log(data);
                    })
                })


                 let orderDetails = document.createElement('input');
                complex.appendChild(orderDetails);
                orderDetails.setAttribute('type', 'button');
                orderDetails.setAttribute('value', 'View Details');
                orderDetails.setAttribute('class', 'button_blue');
                orderDetails.setAttribute('style', 'margin:5px');

                orderDetails.addEventListener('click', function () {
                    window.location.href = '/Order/OrderDetail?OrderID=' + "@ViewBag.OrderID".split('*')[i];
                    console.log('D');
                })
            }



            document.querySelector('#commentSave').addEventListener('click', function () {
                document.getElementById('comment_1').style.display = 'none';
                document.getElementById('fade_4').style.display = 'none';
                console.log(orderSelected);
                console.log(document.querySelector('#commentInput').value);
                $.get('AddComment?orderID=' + orderSelected + '&commentInfo=' + document.querySelector('#commentInput').value, function (data) {
                    console.log(data);
                })
            })


             document.querySelector('#saveCard').addEventListener('click', function () {
                document.getElementById('editCard_1').style.display = 'none';
                document.getElementById('fade_1').style.display = 'none'
                 console.log(bankCardSelected);
                 document.getElementById(globalID).innerHTML = document.querySelector('#inputCard').value;
                 console.log(document.querySelector('#inputCard').value);
                 $.get('EditCard?pre=' + bankCardSelected + '&fut=' + document.querySelector('#inputCard').value +'&id=' + "@ViewBag.id", function (data) {
					 if (data == "false") { alert("Please check your card number!"); location.reload();}
					 else alert("Success!");
                })
            })

            document.querySelector('#editAddress').addEventListener('click', function () {
                console.log(document.querySelector('#editAddress'));
                document.getElementById('editAdrs').style.display = 'block';
                document.getElementById('fade_1').style.display = 'block';
            })

            document.querySelector('#editAddressCancel').addEventListener('click', function () {
               console.log('editAddressCancel');
                document.getElementById('editAdrs').style.display = 'none';
                document.getElementById('fade_1').style.display = 'none';
            })


            document.querySelector('#editAddressSave').addEventListener('click', function () {
                //console.log('editAddressSave');
                document.getElementById('editAdrs').style.display = 'none';
                document.getElementById('fade_1').style.display = 'none';
                //console.log(document.getElementById('address'));
                //console.log(document.querySelector('#inputAddress').value);
                let tempAddr = document.querySelector('#inputAddress').value;
                //console.log(tempAddr);
                document.querySelector('#address').innerHTML = document.querySelector('#inputAddress').value;
                $.get('EditAddress?id=' + '@ViewBag.id' + '&addr=' + tempAddr, function (data) {
                    //console.log(data);
                });
            })

             document.querySelector('#editGenderCancel').addEventListener('click', function () {
                document.getElementById('editGender').style.display = 'none';
                document.getElementById('fade_2').style.display = 'none';
            })

             document.querySelector('#editGenderSave').addEventListener('click', function () {
                document.getElementById('editGender').style.display = 'none';
                document.getElementById('fade_2').style.display = 'none';
                //console.log('editGenderSave');
                //console.log(document.querySelector('#selectGender').value);
                let gender = document.querySelector('#selectGender').value;
                document.querySelector('#gender').innerHTML = gender;
                $.get('EditGender?id=' + '@ViewBag.id' + '&ge=' + gender, function (data) {
                    console.log(data);
                })
            })

            document.querySelector('#editPhoneSave').addEventListener('click', function () {
                document.getElementById('editPhone').style.display='none';
                document.getElementById('fade_3').style.display = 'none';
                //let phone = document.querySelector('#phoneReal').innerHTML;
                let phone = document.querySelector('#inputPhone').value;
                document.querySelector('#phoneReal').innerHTML = phone;
                $.get('EditPhone?id=' + '@ViewBag.id' + '&ph=' + phone, function (data) {
                    console.log(data);
                })
                //console.log(phone);
            })



        })
		</script>

		<header>
			<div class="header-container">
				<div class="header-top">
					<div class="container">
						<div class="row">

							<div class="col-xs-7 col-sm-6">
								<div class="dropdown block-language-wrapper hidden-xs">
									<a class="block-language dropdown-toggle" href="../Homepage/Index?id=@ViewBag.id"> Home Page </a>
								</div>


								<div class="dropdown block-currency-wrapper hidden-xs">
									<a class="block-currency dropdown-toggle" href="../Login/Index"> Exit </a>
								</div>


								<div class="welcome-msg hidden-xs"> Welcome to Vibranium! </div>
							</div>
							<div class="col-xs-5 col-sm-6">
								<div class="top-cart-contain pull-right">

									<div class="mini-cart">
										<div class="basket dropdown-toggle"><a href="../Cart/Index?id=@ViewBag.id">  My Cart  </a></div>
										<div>
											
										</div>
									</div>

									
								</div>

								

								<div class="toplinks">
									<div class="links">
										<div class="myaccount">
											<button id="logout" style="background-color: rgb(51, 51, 51);
                                    border-radius: 5px;
                                    color: #fff;
                                    font-size:14px;
                                    border: 0px;
                                    width: 107px;
                                    height: 40px;
                                    ">
												<b>Log Off</b>
											</button>
										</div>



									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
		</header>


		<!-- PERSONAL ACCOUNT -->
		<section style="position:relative;">

			<!-- search form -->
			<div class="search d2">
				<form>
					<input id ="1"type="text" placeholder="Search Orders">
					<button id ="2"type="button" style="left: 458px;bottom: 84px;"></button>
				</form>
			</div>
			<!-- end of search form -->

			<div class="cont-main" style="margin-left: 20%">
				<div class="main-wrap mt15" style="border: 0px;">
					<div class="server-wrapper">
						<div class="server-tab" style="margin-top: 26px;">
							<div style=" float: left;vertical-align: bottom;text-align: center;">
								<div style="width: 680px;padding: 10px;float: left;background-color: #fff;height: 250px;">
									<div style="float: left;width:200px ;height: 152px;border: 1px #ccc solid;box-shadow: 1px 1px 1px #F5F5F5;padding: 5px;display:block">
										<div style="width: 100%;height: 100%;border: 1px #F2873B dashed;display:block">
											<span style="font-size: 18px;color: #686868;font-weight: bold;display: block; margin:auto;margin-top:20px;">Address : </span>
											<span id="address" style="font-size: 15px;color: #686868;display: block; margin:auto;margin-top:20px;">Tongji University, Shanghai, China </span>
											<!--edit the address -->
											<button id="editAddress" style="background-color: #f56a48;border-radius: 5px;color: #fff;
                              font-size:14px;border: 0px;width: 107px;height: 26px;margin-top: 10px;">
												Edit
											</button>
											<!-- 以下为点击edit后,对address的操作 -->
											<div id="editAdrs" class="white_content">
												<h1 style="align-content:center;margin-top: -10px;">Edit your address</h1>
												<input id="inputAddress" name="edit the address"
													   style="height: 250px;width: 400px;
                                   margin: auto;
                                   margin-top:20px;" placeholder="Input your new address:country/city/district/street.">
												<!--Buttons-->
												<center>
													<button id="editAddressCancel" style="background-color: #FF0000;
                                    border-radius: 5px;
                                    color: #fff;
                                    font-size:14px;
                                    border: 0px;
                                    width: 107px;
                                    height: 26px;
                                    top: 10px;
                                    margin: auto;
                                   margin-top: 20px;
                                    ">
														cancel
													</button>
												</center>
												<center>
													<button id="editAddressSave"
															style="background-color: #42a4e0;
                                    border-radius: 5px;
                                    color: #fff;
                                    font-size:14px;
                                    border: 0px;
                                    width: 107px;
                                    height: 26px;
                                    top: 10px;
                                    margin: auto;
                                    margin-top: 30px;
                                    ">
														save
													</button>
												</center>
												<!-- end of buttons -->
											</div>
											<div id="fade_1" class="black_overlay"></div>
										</div>
									</div>
									<div style="float: left;width:200px ;height: 152px;border: 1px #ccc solid;box-shadow: 1px 1px 1px #F5F5F5;padding: 5px;">
										<div style="width: 100%;height: 100%;border: 1px #F2873B dashed;">
											<span style="font-size: 18px;color: #686868;font-weight: bold;display: block;display: block; margin:auto;margin-top:20px;">Gender : </span>
											<span id="gender" style="font-size: 15px;color: #686868;font-weight:;display: block;display: block; margin:auto;margin-top:20px;">@ViewBag.gender </span>
											<button onclick="document.getElementById('editGender').style.display='block';
                              document.getElementById('fade_2').style.display='block'"
													style="background-color: #f56a48;
                              border-radius: 5px;color: #fff;
                              font-size:14px;border: 0px;width: 107px;height: 26px;margin-top: 22px;">
												Edit
											</button>
											<!-- 以下为点击edit后,对gender的操作 -->
											<div id="editGender" class="white_content2" style="left:530px;">
												<h1 style="align-content:center;margin-top: -10px;">Change your Gender</h1>
												<!-- edit gender -->
												<label id="lblSelect" style="margin-top:20px;">
													<select id="selectGender" title="Select Gender">
														<option value="Male" style="font-size: 15px">----Male----</option>
														<option value="Female" style="font-size: 15px">--Female--</option>
													</select>

													<!--Buttons-->
													<center>
														<button id="editGenderCancel"
																style="background-color: #FF0000;
                                    border-radius: 5px;
                                    color: #fff;
                                    font-size:14px;
                                    border: 0px;
                                    width: 107px;
                                    height: 26px;
                                    top: 10px;
                                    margin: auto;
                                   margin-top: 20px;
                                    ">
															cancel
														</button>
													</center>
													<center>
														<button id="editGenderSave"
																style="background-color: #42a4e0;
                                    border-radius: 5px;
                                    color: #fff;
                                    font-size:14px;
                                    border: 0px;
                                    width: 107px;
                                    height: 26px;
                                    top: 10px;
                                    margin: auto;
                                    margin-top: 30px;
                                    ">
															save
														</button>
													</center>
													<!-- end of buttons -->
											</div>
											<div id="fade_2" class="black_overlay"></div>
										</div>
									</div>

									<div style="float: left;width:200px ;height: 152px;border: 1px #ccc solid;box-shadow: 1px 1px 1px #F5F5F5;padding: 5px;">
										<div style="width: 100%;height: 100%;border: 1px #F2873B dashed;">
											<span style="font-size: 18px;color: #686868;font-weight: bold;display: block;display: block; margin:auto;margin-top:20px;">Phone : </span>
											<span id="phoneReal" style="font-size: 15px;color: #686868;font-weight:;display: block;display: block; margin:auto;margin-top:20px;">@ViewBag.phone </span>
											<button onclick="document.getElementById('editPhone').style.display='block';
                              document.getElementById('fade_3').style.display='block'"
													style="background-color: #f56a48;
                              border-radius: 5px;color: #fff;
                              font-size:14px;border: 0px;width: 107px;height: 26px;margin-top: 22px;">
												Edit
											</button>
											<!-- edit the Phone -->
											<div id="editPhone" class="white_content3" style="left: 480px;">
												<h1 style="align-content:center;margin-top: -10px;z-index: 9999">Edit Your Phone Number</h1>
												<!-- edit card no. -->
												<h2 style="align-content:center;margin-top: 30px;">
													Change Number</h1>
													<input id="inputPhone" style="width:500px;margin-top: 20px;position: relative;" type="" name="editNo" placeholder="Input your new phone number(11 digits)">
													<!-- end of edit -->
													<center>
														<button onclick="document.getElementById('editPhone').style.display='none';
                                   document.getElementById('fade_3').style.display='none'"
																style="background-color: #FF0000;
                                    border-radius: 5px;
                                    color: #fff;
                                    font-size:14px;
                                    border: 0px;
                                    width: 107px;
                                    height: 26px;
                                    top: 10px;
                                    margin: auto;
                                    margin-bottom: -200px;
                                    ">
															cancel
														</button>
													</center>

													<center>
														<button id="editPhoneSave"
																style="background-color: #42a4e0;
                                    border-radius: 5px;
                                    color: #fff;
                                    font-size:14px;
                                    border: 0px;
                                    width: 107px;
                                    height: 26px;
                                    top: 10px;
                                    margin: auto;
                                    margin-bottom: -250px;
                                    ">
															save
														</button>
													</center>
											</div>
											<div id="fade_3" class="black_overlay"></div>
											<!--end of edit the bank card-->

										</div>
									</div>
								</div>

								<!--右侧---end------->
								<!-- my orders information -->
								<div style="width: 800px;padding:10px;display: inline-block; float: left;margin-top: 20px;background-color: #fff;">
									<div style="border-bottom: 1px #ccc solid;">
										<p style="font-size: 20px;text-align: left;">Order History</p>
									</div>

									<table class="dataintable" style="font-size: 15px">
										<tr>
											<th>Order ID</th>
											<th>Time</th>
											<th>Shop ID</th>
											<th>Options</th>
										</tr>
										<tbody id="orderTable">

											<!-- 以下为点击edit后,对comment的操作 -->
											<div id="comment_1" class="comment_content" style="left: 500px;">
												<h1 style="align-content:center;margin-top: -10px;">Welcome to comment!</h1>
												<textarea id="commentInput" name="comment"
													   style="height: 300px;width: 400px;
                                   margin: auto;
                                   margin-top:20px;
                                   " placeholder="Welcome to comment!"></textarea>
												<!--Buttons-->
												<center>
													<button onclick="document.getElementById('comment_1').style.display='none';
                                   document.getElementById('fade_4').style.display='none'"
															style="background-color: #FF0000;
                                    border-radius: 5px;
                                    color: #fff;
                                    font-size:14px;
                                    border: 0px;
                                    width: 107px;
                                    height: 26px;
                                    top: 10px;
                                    margin: auto;
                                   margin-top: 20px;
                                    ">
														cancel
													</button>
												</center>
												<center>
													<button id="commentSave"
															style="background-color: #42a4e0;
                                    border-radius: 5px;
                                    color: #fff;
                                    font-size:14px;
                                    border: 0px;
                                    width: 107px;
                                    height: 26px;
                                    top: 10px;
                                    margin: auto;
                                    margin-top: 30px;
                                    ">
														Save
													</button>
												</center>
												<!-- end of buttons -->
											</div>
											<div id="fade_4" class="black_overlay"></div>
											<!-- end of comment-->


										</tbody>
									</table>
								</div>
								<!-- end of my orders information -->
								<!-- my bankcard information -->
								<div style="width: 800px;padding:10px;display: inline-block; float: left;margin-top: 20px;background-color: #fff;">
									<div style="border-bottom: 1px #ccc solid;">
										<p style="font-size: 20px;text-align: left;">Bank Cards<button id="bank" type="button" class="button_Blue" style="position:relative; top:-3px;left:10px; background-color:red">Add</button>
										<input id="cardid" type="text" placeholder="Enter your new card" style="font-size:12px;position:relative;left:7px;top:-2px;width:200px;"/>
										</p>
									</div>
									<table class="dataintable" style="font-size: 15px;">
										<tr style="text-align:center;">
											<th>Bank Card No.</th>
											<th> &nbsp &nbsp &nbsp Options</th>
										</tr>
										<tbody id="tbodyBankCard">
											<div id="editCard_1" class="white_content">
												<h1 style="align-content:center;margin-top: -10px;z-index: 9999">Edit Your Bank Card</h1>
												<!-- edit card no. -->
												<h2 style="align-content:center;margin-top: 30px;">
													Change Number</h1>
													<input id="inputCard" style="width:500px;margin-top: 20px;position: relative;" type="" name="editNo" placeholder="Input your new card number(16~19 digits)">
													<!-- end of edit -->
													<center>
														<button onclick="document.getElementById('editCard_1').style.display='none';
                                   document.getElementById('fade_1').style.display='none'"
																style="background-color: #FF0000;
                                    border-radius: 5px;
                                    color: #fff;
                                    font-size:14px;
                                    border: 0px;
                                    width: 107px;
                                    height: 26px;
                                    top: 10px;
                                    margin: auto;
                                    margin-bottom: -200px;
                                    ">
															cancel
														</button>
													</center>

													<center>
														<button id="saveCard"
																style="background-color: #42a4e0;
                                    border-radius: 5px;
                                    color: #fff;
                                    font-size:14px;
                                    border: 0px;
                                    width: 107px;
                                    height: 26px;
                                    top: 10px;
                                    margin: auto;
                                    margin-bottom: -250px;
                                    ">
															save
														</button>
													</center>
											</div>
											<div id="fade_1" class="black_overlay"></div>
										</tbody>


									</table>

									<!-- end of my bankcard information -->


								</div>
							</div>

						</div>
					</div>
				</div>
				<!-- browsing -->
				<div style="width: 800px;padding:10px;display: inline-block; float: left;margin-top: 20px;margin-left: 170px;background-color: #fff;">

					<div style="border-bottom: 1px #ccc solid;">
						<p style="font-size: 20px;text-align: left;">Browsing</p>
					</div>

					<table class="dataintable" style="font-size: 15px;">
						<tr>
							<th>Item ID</th>
							<th>Time</th>
						</tr>
						<tr>
							<td id="browserItem0"></td>
							<td id="browserTime0"></td>
						</tr>
						<tr>
							<td id="browserItem1"></td>
							<td id="browserTime1"></td>
						</tr>
						<tr>
							<td id="browserItem2"></td>
							<td id="browserTime2"></td>
						</tr>
					</table>

				</div>
				<!-- end of browsing -->

		</section>
		<!-- END OF PERSONAL ACCOUNT -->
		<!-- FOOTER -->
		<footer style="margin-top: -50px;z-index: 9999;position: relative;top: 200px;">
			<div class="footer-inner">
				
				<div class="container">
					<div class="col-sm-12 col-xs-12 footer-logo"><img alt="Datson" src="../Images/images/logo.png"></div>
					<address>
						<i class="fa fa-map-marker"></i> Vibranium <i class="fa fa-mobile"></i><span> +(86) 123-45678910 </span> <i class="fa fa-envelope"></i><span> Tongji University </span>
					</address>
				</div>
			</div>

			<div class="footer-bottom">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 col-xs-12 coppyright">Copyright &copy; 2018. All rights reserved.</div>

					</div>
				</div>
			</div>
		</footer>
		<!-- END OF FOOTER -->
	</body>
</html>